

{% extends 'base.html' %}
{% load static %}

{% block content %}



<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">
        <div id="introCarousel" class="carousel slide responsive-carousel" data-ride="carousel">
            <div class="carousel-inner">
                {% for image_path in image_paths %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ image_path|slice:"9:" }}" class="d-block w-100" alt="Image - {{ image_path }}">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" ariahidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div> <!-- container // -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<section class="section-about padding-y-lg" style="background-color: #f0f0f0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-6 col-lg-12">
                <h4>About Us</h4>
                <p>
                    Greetings and welcome to our website! We are a team of dedicated individuals driven by a profound passion for fostering inspiration and assistance through the world of running. With the unwavering support of our esteemed Team Burners, devoted supporters, enthusiastic participants, and valued partners, we commit ourselves each day to the realization of this noble purpose.
                </p>
                <p>
                    Be assured that with each stride we take, our resolute focus remains on creating a profound impact within our community, empowering the youth, supporting charitable causes, and enriching the journey of every individual runner. Our overarching mission is to leave a lasting, positive imprint on the realm of running and fitness, uplifting and transforming lives along the way.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-lg">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h4 class="section-title">Popular products</h4>
</header><!-- sect-heading -->


<div class="container">
    <div class="row align-left">
    {% for product in products|dictsortreversed:"created_date"|slice:":4" %}
	<div class="col-md-6 col-lg-3 column">
        <a href="{{ product.get_url }}">
		<div class="card gr-1">
            <div class="txt">
                <h3 class="product-title">{{ product.product_name }}</h3>
                <p></p>
              </div>
              <!-- <div class="price mt-1">₹ {{ product.price }}</div> -->
              <small class="title text-muted">Training Weeks - {{ product.weeks }}</small>
              <small class="title text-muted">Coach - {{ product.coach }}</small>
              <small class="title text-muted">quick view...</small>          
		</div>
    </a>
	</div> <!-- col.// -->
	{% endfor %}
</div>
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






</body>
</html>

{% endblock %}
