{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    /* Add your custom styles here */
    #timingForm {
        text-align: center;
        margin-bottom: 20px;
    }

    #result, #responseTable {
        text-align: center;
        margin-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .instagram-link {
            color: #385185; /* Instagram blue color */
            text-decoration: none;
        }

        .instagram-link:hover {
            text-decoration: underline;
        }
</style>

<section class="section-terms-of-use padding-y-lg" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5 style="text-align: center;">Nandish Kumar - Fitness and Running Coach</h5>
               
                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>I am not just a fitness enthusiast but a testament to determination and consistency. My journey began in 2011-12 when playing with my young daughter became a challenge. Weighing over 105 kilos, I decided to reclaim my college-level fitness.</em>
                </p>

                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>The path wasn't easy. I started with swimming, then tried badminton and cycling. In 2013, a friend introduced me to a running group at Cubbon Park. Balancing family and fitness was tough, but weekend runs became a routine.</em>
                </p>

                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>What began as a weekend activity soon became a passion. In 2015, I joined a running club closer to home. Here, I discovered the power of community. Running became a shared journey rather than a solo effort.</em>
                </p>

                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>Over the years, I've completed many races, including 8 full marathons. My personal best is 3:39, achieved in 2022. For me, fitness is about habits, consistency, and the right environment. Small daily improvements lead to big progress.</em>
                </p>
                
                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>With the same passion, I’m happy to share my experience and train others in their running journey. I coach people to run efficiently and achieve their personal goals. My journey shows that fitness is a continuous journey, not a destination.</em>
                </p>
                
            </div>
        </div>
    </div>
</section>

<section class="section-instruction padding-y-lg" style="background-color: #f0f0f0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="font-size: 14px;">
                <h5 style="font-size: 18px;">Passions and Achievements:</h5>
                <ul style="list-style-type: disc; margin-left: 20px;">
                    <li>The premade plans offer flexibility with up to three levels of experience to choose from, catering to beginners, intermediate, and advanced athletes.</li>
                    <li>We offers a range of coaching packages tailored to individual needs, including personalized planning, premade plans, and training support.</li>
                    <li>Personalized plans are crafted to accommodate each individual's unique lifestyle characteristics, such as current and past fitness levels, schedule, stressors, goal events, and more.</li>
                    <li>Premade plans align with our's coaching philosophy and cater to various distances, from 5 kilometers to 42 KMs, as well as base training plans and a newly added Strength Athlete's Endurance guide.</li>
                    <li>Training Support includes collaborative email communication, plan adjustments as needed, and consultation calls to address any concerns or queries.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section-instruction padding-y-lg" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em><a href="https://www.instagram.com/nandishnagaraj/" target="_blank"><img src="https://img.icons8.com/color/48/000000/instagram-new.png" alt="Instagram" style="vertical-align: middle;"> Instagram Profile</a></em>
                </p>

                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>Contact : <a href="https://wa.me/9886033901"><span style="color: rgb(22, 100, 15);" class="px-2"> Chat with Nandish</span></a></em>
                </p>
            </div>
        </div>
    </div>
</section>

</body>

</html>
{% endblock %}
