{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    /* Add your custom styles here */
    #timingForm {
        text-align: center;
        margin-bottom: 20px;
    }

    #result, #responseTable {
        text-align: center;
        margin-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .instagram-link {
            color: #385185; /* Instagram blue color */
            text-decoration: none;
        }

        .instagram-link:hover {
            text-decoration: underline;
        }
</style>

<section class="section-terms-of-use padding-y-lg" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5 style="text-align: center;">Pranesh</h5>
               
                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>Pranesh, an avid marathoner and seasoned trekking enthusiast, has been passionately navigating the trails for over 25 years. With a profound love for the great outdoors, he found his calling as a trekking instructor, guiding countless adventurers through rugged terrains and breathtaking landscapes.</em>
                </p>

                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>Having dedicated decades to the art of trekking, Pranesh embodies the spirit of exploration and adventure. His extensive experience allows him to lead with confidence, sharing his wealth of knowledge and expertise with fellow trekkers.</em>
                </p>

                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>Beyond his role as a trekking instructor, Pranesh's journey is defined by his unwavering commitment to the wilderness. His adventures transcend mere exploration; they represent a deep connection to nature and a profound respect for the environment.</em>
                </p>

                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>Pranesh's infectious enthusiasm and boundless energy inspire others to embark on transformative journeys, discovering the beauty of nature while pushing their own limits. His dedication to the trekking community serves as a beacon of inspiration, igniting the spirit of adventure in all who cross his path.</em>
                </p>

                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em><a href="https://www.instagram.com/praneshmanchaiah?igsh=ZmVqdGlodzg2a2Zh" target="_blank"><img src="https://img.icons8.com/color/48/000000/instagram-new.png" alt="Instagram" style="vertical-align: middle;"> Instagram Profile</a></em>
                </p>

                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>Contact : <a href="https://wa.me/9845164658"><span style="color: rgb(22, 100, 15);" class="px-2"> Chat with Pranesh</span></a></em>
                </p>
            </div>
        </div>
    </div>
</section>

</body>

</html>
{% endblock %}
