{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-about padding-y-lg" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-6 col-lg-12">
                <h4>Purpose of this Privacy Policy</h4>
                <p>
                    This Privacy Policy ("Policy") governs our privacy practices with respect to our website located at www.svedah.co.in and any of Svedah's other registered domains, mobile apps, or social networking pages, profiles, or feeds that post a link to this Policy (collectively, the "Services").
                    By using our Services, you agree to this Policy and allow us to collect, use, store, and transfer your information as described herein. Regardless of your location, you give us permission to transfer, store, and process your information in India or other countries where Svedah or our affiliates, subsidiaries, or agents maintain facilities or business operations.
                </p>
                <p>
                    <strong>What Information is Collected:</strong> We collect various types of information, including:
                </p>
                <ul>
                    <li>Contact data, such as your name, address, phone number, and email address.</li>
                    <li>Credentials, including passwords and authentication information.</li>
                    <li>Demographic data, like age, gender.</li>
                    <li>Payment data for processing purchases.</li>
                    <li>Profile data, including interests and performance in events.</li>
                </ul>
                <p>
                    <strong>How We Use Your Information:</strong> We may use the collected information for various purposes, including managing your registration, responding to your requests, conducting research, and improving our services.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="section-contact padding-y-lg" style="background-color: #b8b5b5;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-6 col-lg-12">
                <h4>Contact Us</h4>
                <p>
                    If you have any questions or concerns regarding our privacy practices, please feel free to contact us using the following contact information:
                </p>
                <p>
                    <strong>Email:</strong> nandish.nagaraj@gmail.com
                </p>
                <p>
                    <strong>Phone:</strong> +91-9886033901
                </p>
                <p>
                    <strong>Address:</strong> #121, 2nd main road, Maruthinagar Nagarbhavi Road, Bangalore - 560072
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-refund-policy padding-y-lg" style="background-color: #dad9d9;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-6 col-lg-12">
                <h4>Refund Policy (Razorpay)</h4>
                <p>
                    Our refund policy for payments processed through Razorpay is as follows:
                </p>
                <p>
                    - All payments made through Razorpay are subject to the terms and conditions of Razorpay.
                </p>
                <p>
                    - Refunds, if applicable, will be processed by Razorpay in accordance with our <a href="https://merchant.razorpay.com/policy/Mv8Pd8IT8sXJ7f/refund" target="_blank">refund policy</a>.
                </p>
               
            </div>
        </div>
    </div>
</section>

<section class="section-contact padding-y-lg" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-6 col-lg-12">
                
            </div>
        </div>
    </div>
</section>

</body>
</html>
{% endblock %}