{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    /* Add your custom styles here */
    #timingForm {
        text-align: center;
        margin-bottom: 20px;
    }

    #result, #responseTable {
        text-align: center;
        margin-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .instagram-link {
            color: #385185; /* Instagram blue color */
            text-decoration: none;
        }

        .instagram-link:hover {
            text-decoration: underline;
        }
</style>

<section class="section-terms-of-use padding-y-lg" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5 style="text-align: center;">Smitha Hegde</h5>
               
                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>Passionate Yoga Teacher with more than 10000 hours of experience in designing and leading flow in  Hatha, Vinyasa, Restorative Yoga and Prenatal Yoga in Group classes as well as One-on-One classes since 2014. Worked in many yoga and fitness platforms as Group Teacher(Intermediate/Advanced Level) and Personal Trainer coaching students from US, Canada, Dubai, Kuwait and India</em>
                </p>

                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>I have been practicing yoga for more than 20 years and a Certified yoga teacher since 2014 and Certified Prenatal Yoga Therapist.</em>
                </p>

                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>I am a passionate and motivated instructor with advance training in yoga and specialization in Hatha Yoga, Vinyasa Yoga and Prenatal Yoga. Enjoy motivating others to improve their overall wellness. Energetic and outgoing with collaborative spirits. I am candidate Nutritionist from INFS with ongoing studies in Diploma in Nutrition and Fitness. I have been freelancing on nutrition guidance for clients with weight loss and other health goals.</em>
                </p>

                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em><a href="https://instagram.com/smithahegde_28?igshid=YmMyMTA2M2Y=" target="_blank"><img src="https://img.icons8.com/color/48/000000/instagram-new.png" alt="Instagram" style="vertical-align: middle;"> Instagram Profile</a></em>
                </p>

                <p style="margin-top: 20px; text-align: left; color: #808080; font-size: 14px;">
                    <em>Contact : <a href="https://wa.me/9845224454"><span style="color: rgb(22, 100, 15);" class="px-2"> Chat with Smitha</span></a></em>
                </p>
            </div>
        </div>
    </div>
</section>

</body>

</html>
{% endblock %}
