{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-terms-of-use padding-y-lg" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-6 col-lg-12">
                <h4>(Svedah) Terms of Use </h4>
                <p>
                    These Terms of Use govern our website located at www.svedah.co.in and any of Svedah's other registered domains, mobile apps, or social networking pages, profiles, or feeds that post a link to these Terms (collectively, the "Services").
                </p>
                <p>
                    Please read these Terms carefully before using the Services. By using the Services, you accept these Terms. If you do not agree, do not use the Services. Any breach of these Terms immediately terminates your rights with respect to the Services.
                </p>
                <p>
                    These Terms may change from time to time, and your continued use of the Services after any changes means that you have accepted and agreed to such changes.
                </p>
                
                <p>
                    <strong>1) Content</strong>
                </p>
                <p>
                    The Services are owned by Svedah. All content on the Services, including text, graphics, and media, is the copyrighted property of Svedah, protected by various laws related to intellectual property.
                </p>
                <p>
                    No content from the Services may be copied, reproduced, republished, or distributed without Svedah's permission. You are granted a limited, non-exclusive license for personal, non-commercial use only.
                </p>
                <p>
                    <strong>2) Trademark</strong>
                </p>
                <p>
                    All Svedah trademarks and logos are proprietary and protected by copyright and trademark laws.
                </p>
                <p>
                    <strong>3) Registration</strong>
                </p>
                <p>
                    If you register for any portion of the Services, you agree to provide accurate information. You are responsible for maintaining the confidentiality of your account information.
                </p>
                <p>
                    <strong>4) Electronic Communications and Customer Support</strong>
                </p>
                <p>
                    By using the Services, you consent to receive electronic communications from Svedah. You can contact customer support at nandish.nagaraj@gmail.com.
                </p>
                <p>
                    <strong>5) Membership Requirements</strong>
                </p>
                <p>
                    If you become a member, you agree to pay all charges related to your account. You must provide valid payment information. Your account may be suspended for non-payment.
                </p>
                <p>
                    <strong>6) Postings and Other On-Services Communications</strong>
                </p>
                <p>
                    In your communications on the Services, do not post content that is offensive, discriminatory, abusive, or promotes illegal activity.
                </p>
                <p>
                    <strong>7) Race Statistics</strong>
                </p>
                <p>
                    If you use race statistics provided by Svedah, you agree to abide by our terms regarding their use.
                </p>
            </div>
        </div>
    </div>
</section>

</body>
</html>
{% endblock %}