{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    /* Add your custom styles here */
    #timingForm {
        text-align: center;
        margin-bottom: 20px;
    }

    #result, #responseTable {
        text-align: center;
        margin-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<section class="section-terms-of-use padding-y-lg" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 style="text-align: center;">Enter your best 5K Run Timing in recent days</h4>

                <form id="timingForm">
                    <label for="minutes">Minutes:</label>
                    <input type="number" id="minutes" name="minutes" min="0" max="59" required>

                    <label for="seconds">Seconds:</label>
                    <input type="number" id="seconds" name="seconds" min="0" max="59" required>

                    <label for="metrics">Metrics:</label>
                    <input type="radio" id="km" name="metrics" value="km" checked>
                    <label for="km">km</label>
                    <input type="radio" id="miles" name="metrics" value="miles">
                    <label for="miles">miles</label>

                    <button type="button" class="btn btn-primary" onclick="calculateTiming()">Find your Zone</button>
                </form>

                <div id="result"></div>

                <!-- Display Cloud Function Response in a Table -->
                <div id="responseTable"></div>

                <p style="margin-top: 20px; text-align: center; color: #808080; font-size: 14px;">
                    <em>Our program is equipped with a unique feature that allows you to dynamically generate your pace. To make the most of this, feel free to click multiple times until you discover your comfortable zone.</em>
                </p>
            </div>
        </div>
    </div>
</section>

<script>
    async function calculateTiming() {
        const minutes = parseInt(document.getElementById('minutes').value, 10);
        const seconds = parseInt(document.getElementById('seconds').value, 10);
        const metrics = document.querySelector('input[name="metrics"]:checked').value;
        console.log(metrics)

        if (isNaN(minutes) || isNaN(seconds) || minutes < 0 || minutes > 59 || seconds < 0 || seconds > 59) {
            alert('Please enter valid minutes and seconds (0-59).');
            return;
        }

        const totalSeconds = minutes * 60 + seconds;

        // Call Cloud Function
        try {

            const ipResponse = await fetch('https://ipinfo.io/json');
            const ipData = await ipResponse.json();
            console.log('User IP Data:', ipData);


            const response = await fetch('https://asia-south1-djangopractice-401603.cloudfunctions.net/basedon5k', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ "time": `${minutes}:${seconds}`, "metrics": `${metrics}`, "ipData": ipData }),
            });

            const result = await response.json();
            console.log(result)

            // Display the result
            document.getElementById('result').innerHTML = ``;

            // Display the Cloud Function Response in a Table
            displayResponseInTable(result);
        } catch (error) {
            console.error('Error getting IP address:', error);
            console.error('Error calling Cloud Function:', error);
            alert('Error Please try after sometime.');
        }
    }

    function displayResponseInTable(response) {
        const tableHtml = `
            <h3>Pace Chart Based on 5km timings</h3>
            <table border="1">
                <tr>
                    <th>Run Type</th>
                    <th>Pace Range</th>
                </tr>
                <tr>
                    <td>Pace</td>
                    <td>${response.pace}</td>
                </tr>
                <tr>
                    <td>Interval Runs</td>
                    <td>${response.interval_runs}</td>
                </tr>
                <tr>
                    <td>Tempo Runs</td>
                    <td>${response.tempo_runs}</td>
                </tr>
                <tr>
                    <td>Easy Runs</td>
                    <td>${response.easy_runs}</td>
                </tr>
                <tr>
                    <td>Long Runs</td>
                    <td>${response.long_runs}</td>
                </tr>
                <tr>
                    <td>Fartlek Runs</td>
                    <td>${response.fartlek_runs}</td>
                </tr>
            </table>
        `;

        document.getElementById('responseTable').innerHTML = tableHtml;
    }
</script>
</body>

</html>
{% endblock %}
